<!DOCTYPE html>
<html lang="en">
<head>
    <title>About TickVote – Simple Poll Maker</title>
    <meta name="description" content="Create and share polls instantly with TickVote.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inter:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main-logo">
        <span role="img" aria-label="tick">✅</span>
        <span class="logo-text">TickVote</span>
    </div>
    <h1>About Us</h1>
    <div class="subtitle">
        Our goal is to provide an easy to use, customizable and free to make polls and get opinions.<br>
        <a href="https://github.com/Will10145/TickVote">Source Code</a><br>
        <strong>Contact</strong><br>
        To get in touch, email me at <a href="mailto:will@willcodes.tech">will@willcodes.tech</a> or for any issues/bugs report it on our <a href="https://github.com/Will10145/TickVote/issues">GitHub issues page!</a>
    </div>
    <div class="main-footer">

        <a href="/">Go Home</a>

    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>